<div id="content">


        <div class="row">
            <div id="left" class="col col-lg-3">
                <h5 id="to-eat" class="text-center list-title">Burgers to Eat:</h5>
                <ul id="to-eat-list">
                    {{#each not_eaten}}
                        <li>
                            <p>{{ burger_name }}<button data-index={{ id }} class="btn btn-danger">Eat me!</button></p>
                        </li>
                    {{/each}}
                </ul>
            </div>

            <div id="center" class="col col-lg-6">
                <div id="head">
                    <h1 class="mt-5 text-center">cheemsburbger</h1>
                    <img class="mx-auto d-block" id="burg-img" src="/images/burger.png" alt="Cheemsburbger">
                </div>   
                <form action="/" method="POST">
                    <div class="form-group">
                      <input type="input" class="mx-auto d-block form-control" id="burger_input" name="burger_input" placeholder="Enter your burger here!">
                    </div>
                  <button type="submit" class="mx-auto d-block btn btn-info">Submit your burger!</button>
                </form>
            </div>
            <div id="right" class="col col-lg-3">
                <h5 id="eaten" class="text-center list-title">Burgers Eaten:</h5>
                <ul id="eaten-list">
                    {{#each eaten}}
                        <li>
                            <p>{{ burger_name }}<button data-index={{ id }} class="btn btn-danger">Eat me!</button></p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        
    </div>