<div id="content">


        <div class="row">
            <div id="left" class="col col-lg-3">
                <h5 id="to-eat" class="text-center list-title">Burgers to Eat:</h5>
                <ul id="to-eat-list">
                    <li>Item One <button class="btn btn-danger">Eat me!</button></li>
                    <li>Item Two <button class="btn btn-danger">Eat me!</button></li>
                </ul>
            </div>

            <div id="center" class="col col-lg-6">
                <div id="head">
                    <h1 class="mt-5 text-center">cheemsburbger</h1>
                    <img class="mx-auto d-block" id="burg-img" src="./assets/images/burger.png" alt="Cheemsburbger">
                </div>   
                <form>
                    <div class="form-group">
                      <input type="input" class="mx-auto d-block form-control" id="burger-input" placeholder="Enter your burger here!">
                    </div>
                  <button class="mx-auto d-block btn btn-info">Submit your burger!</button>
                  </form>
            </div>
            <div id="right" class="col col-lg-3">
                <h5 id="eaten" class="text-center list-title">Burgers Eaten:</h5>
                <ul id="eaten-list">

                </ul>
            </div>
        </div>
        
    </div>